@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<SC.MVC.Starterkit.Business.Models.ICoinCopyright>

<p>This is a view rendering. Will get data from datasource. this is a test.</p>
<p>@Model.CopyrightText</p>
