@*@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<SC.MVC.Starterkit.Mvc.Areas.SCMVC.ViewModels.CopyrightViewModel>*@
@model SC.MVC.Starterkit.Mvc.Areas.SCMVC.ViewModels.CopyrightViewModel

<p> This is the value comes from view model: @Model.CopyrightText </p>
<p>this is a sample view.</p>